.inputGroup {
  position: relative;
  display: flex;
  height: 2rem;
  width: 100%;
  min-width: 0;
  align-items: center;
  border-radius: var(--radius-lg);
  border: 1px solid var(--input);
  transition: border-color 0.15s ease;
  outline: none;
}

.addon {
  display: flex;
  height: auto;
  cursor: text;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.375rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--muted-foreground);
  user-select: none;

  svg {
    width: 1rem;
    height: 1rem;
  }
}
